<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="actions col-xs-12 col-sm-6 col-sm-offset-4">
  <%= link_to 'Show', @user, :class => "btn btn-sm btn-primary btn-blue" %>
  <%= link_to 'Back', users_path, :class => "btn btn-sm btn-primary btn-red" %>
</div>
