<div class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info!</strong> The PeopleConnector tab will take you to the home page. The Users tab leads to a table of users.
  <strong></strong> The Posts tab leads to a table of posts. You can also create a new user or post, or login if you already signed up.
  <strong></strong> If you are signed in you can logout in the top right corner or you can view your account by clicking on your email.
</div>
<div class="center col-xs-12 col-sm-6 col-sm-offset-4">
    <h1>New User</h1>
</div>

<%= render 'form', user: @user %>

<div class="actions col-xs-12 col-sm-6 col-sm-offset-4">
  <button class="btn btn-sm btn-primary btn-red" type="link_to users_path">Back</button>
</div>