<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PeopleConnector</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/users">Users</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> New User </a></li>
      <li><a href="/posts/new"><span class="glyphicon glyphicon-edit"></span> New Post </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a href = <%= edit_user_registration_path(current_user) %>><span class="glyphicon glyphicon-user"></span><%= current_user.email %></a></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-log-in' %></li>
        <% else %>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
      <% end %>
    </ul>
  </div>
</nav>
</body>
</html>


